header{
    text-align:center;
}
body{
    background-color: aliceblue;
}
ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color:black
}

li{
    text-align: center;
    float: left;
}

li  a{
display:block;
color:white;
text-align:center;
padding: 18px 16px;
text-decoration:none;
}

li a:hover{
    background-color: gray;
}

h3{
    text-align:center;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 30%;
    padding: 20px;
}

.card {
    text-align: center;
    background-color: white;
    border: double;
    padding: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);